# ignore
# ignore environment variables
.env

# ignore temporary files
*temp/
*archive/

# ignore Python cache files
*__pycache__/

# ignore figures
*figures

# ignore model checkpoints
*epoch*

# ignore preprocessed molecule data
data/*molecules.npz

# ignore symlinks - put "symlink" in the name of the symlink to ignore it
*symlink*
