# ignore
.env
.servers.yaml
bin/cache/
/temp
*.ipynb
*__pycache__/
figures
.neptune
*archive
*epoch*
data/*molecules.npz
data/temp/*


# except
!evaluation.ipynb
!visualization_2.ipynb
!visualization.ipynb